.main-container {
  min-height: 100vh;
  padding: 20px;
  font-family: 'Arial', 'sans-serif';
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: transparent;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: #050;
}

select {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

div {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  h1 {
    font-size: 50px;
  }

  select {
    font-size: 14px;
    padding: 8px;
  }

  .youtube-player {
    height: 220px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  select {
    font-size: 12px;
    padding: 6px;
  }

  .youtube-player {
    height: 180px;
  }
}
